{
    "env": {
        "browser": true,
        "jest": true,
        "es6": true
    },
    "plugins": [
        "import"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "jsx": true
    },
    "rules": {
        "no-console": "warn",
        "no-eval": "error",
        "import/first": "error",
        "prettier/prettier": ["error"],
        "react/no-unescaped-entities": "off",
        "react/prop-types": "off"
    }
}