.content-section {
  max-width: $maxContentWidth;
  padding: $contentPadding;
  margin: auto;

  h2 {
    text-align: center;
    &.highlight {
      padding-bottom: 15px;
    }
  }

  h3 {
    &.highlight {
      text-align: center;
      color: $primary;
    }
  }

  div {
    padding-bottom: 10px;
  }

  .pageimage {
    object-fit: contain;
    text-align: center;
    max-width: 100%;
    padding: 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .crew-image {
    width: 80%;
    text-align: center;
  }

  .qrcode {
    width: 250px;
  }

  .img-center {
    text-align: center;
  }

  .screenshot {
    width: 70%;
  }

  .green {
    color: green;
  }

  .yellow {
    color: orange;
  }

  .red {
    color: red;
  }

  img {
    &.picture {
      width: 95%;
    }

    &.profile {
      width: 200px;
      border-radius: 50%;
      @media only screen and (max-width: 810px) {
        display: none;
      }
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  tr th {
    background-color: #dddddd;
  }
}
