.hacktober {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  .speaker-image {
    width: 175px;
    height: 175px;
    margin: 5px;
  }

  .speaker-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .speaker-grid-item {
    min-width: 180px;
  }

  .back-to-about-button {
    border-radius: 12px;
    border: none;
    color: $dark;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color: #ff7518;
    margin-bottom: 15px;
  }

  .back-to-about-button a {
    color: $dark;
  }

  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: $tertiary;
  }

  .columnright {
    padding: 10px;
    float: right;
    width: 60%;
  }

  .columnleft {
    padding: 10px;
    float: left;
    width: 35%;
  }

  .columnfullwidth {
    width: 100%;
  }

  @media only screen and (max-width: 810px) {
    .speakerpic {
      display: none;
    }
    .columnright {
      width: 100%;
      padding-top: 0px;
    }
    .columnleft {
      padding-top: 0px;
    }
  }
}
