.boxed-items {
  .box-item {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .bottom-background {
      background-color: $primary;
      padding: 5px 0px 5px 30px;
      width: 100%;
      margin-left: -15px;
    }

    .past-bottom-background {
      background-color: $secondary;
      padding: 5px 0px 5px 30px;
      width: 100%;
      margin-left: -15px;
    }

    .bottom {
      color: $light;
      margin-left: -30px;
    }

    .strike-bottom {
      color: $light;
      margin-left: -30px;
      text-decoration: line-through;
    }
  }
}
