body {
  margin: 0;
  padding: 0;
  font-family: $fontName;
  font-size: $desktopBody;
  overflow-x: hidden;
}
h2 {
  font-size: $desktopSubtitle1;
  text-align: left;
  color: $secondary;
}
.ticket-header {
  margin-top: 5%;
  margin-bottom: 2%;
}
p {
  line-height: 1.5;
}
p,
a {
  font-size: $desktopBody;
  color: $dark;
  line-height: 1.5;
}
a {
  color: $primary;
}

a:before,
a:after {
  content: ' ';
}

li {
  line-height: 1.5;
}

.container {
  width: 100vw;
}

.aligncenter {
  text-align: center;
}

.smallspace {
  margin-right: 15px;
}

.boxedItems {
  display: flex;
  margin: 0;
  padding: 20px;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: center;
}

.boxItem {
  width: 170px;
  height: 90px;
  text-align: center;
  border-radius: $borderRadiusMobile;
  border: #b5c6c4;
  border-style: dotted;
  padding: 40px 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.emphasisItem {
  text-align: center;
  margin: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 600px) {
  .boxItem {
    border-radius: $borderRadius;
  }
}
