$primary: #1A7D87;
$secondary: #C01439;
$tertiary: #1A1E1E;
$quaternary: #B5C6C4;
$light: #FFFFFF;
$dark: #000000;

$maxContentWidth: 940px;
$contentPadding: 20px 20px;
$borderRadius: 25px;;
$borderRadiusMobile: 15px;;

$fontName: "Raleway, Helvetica, Arial";
$mobileBody: 1rem;
$mobileSubtitle1: 1.2rem;
$mobileSubtitle2: 1.4rem;
$mobileHeadline1: 2rem;
$mobilehHeadline2: 2.4rem;
$desktopBody: 1.2rem;
$desktopSubtitle1: 1.4rem;
$desktopSubtitle2: 1.8rem;
$desktopHeadline1: 2.2rem;
$desktopHeadline2: 2.6rem;
