$primary: #1a7d87;
$secondary: #c01439;
$tertiary: #1a1e1e;
$quaternary: #b5c6c4;
$light: #ffffff;
$dark: #000000;

$maxContentWidth: 940px;
$contentPadding: 20px 20px;
$borderRadius: 25px;
$borderRadiusMobile: 15px;

$fontName: Raleway, Helvetica, Arial;
$mobileBody: 1rem;
$mobileSubtitle1: 1.2rem;
$mobileSubtitle2: 1.4rem;
$mobileHeadline1: 2rem;
$mobilehHeadline2: 2.4rem;
$desktopBody: 1.2rem;
$desktopSubtitle1: 1.4rem;
$desktopSubtitle2: 1.8rem;
$desktopHeadline1: 2.2rem;
$desktopHeadline2: 2.6rem;
