name: Deploy to S3 (OIDC)

on:
  push:
    branches:
      - main

permissions:
  id-token: write   # REQUIRED for OIDC
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Cache npm dependencies
        id: cache
        uses: actions/cache@v5
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install
      
      - name: Build Next.js site
        run: npm run build

      - name: Upload Site Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build_artifacts
          path: |
            out

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::735252638559:role/GitHubActionsS3Deploy
          aws-region: eu-west-2

      - name: Deploy to S3
        run: |
          aws s3 sync ./out s3://temp.dddeastmidlands.com --delete
