name: 'Deploy'

on:
  push:
    branches:
      - main

jobs:
  test_build:
    name: Test and Build
    uses: ./.github/workflows/test_job.yml

  publish_unit_tests:
    name: Publish Unit Tests
    needs: ['test_build']
    uses: ./.github/workflows/publish_unit_tests.yml

  publish_to_s3:
    name: Deploy to S3 (OIDC)
    needs: ['test_build']
    uses: ./.github/workflows/deploy.yml
