on:
  workflow_call:

jobs:
  publish_unit_tests:
    name: Publish Unit Tests
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Download Junit Artifact
        id: download_junit
        uses: actions/download-artifact@v7
        with:
          name: junit
          path: test-results/junit

      - name: Download Clover Artifact
        id: download_clover
        uses: actions/download-artifact@v7
        with:
          name: clover
          path: coverage/clover.xml

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          check_name: 'Unit Test Results'
          junit_files: test-results/junit/results.xml
