on:
  workflow_call:
    secrets:
      aws_access_key_actions:
        required: true
      aws_secret_access_key_actions:
        required: true
      aws_distribution_id_actions:
        required: true

jobs:
  publish_to_s3:
    name: Publish to S3
    runs-on: ubuntu-latest

    steps:
      - name: Download Site Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: build_artifacts
          path: out

      - name: Install AWS CLI
        run: |
          pip install --user awscli
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Configure AWS
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_KEY: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
        run: |
          aws configure set aws_access_key_id "$AWS_ACCESS_KEY"
          aws configure set aws_secret_access_key "$AWS_SECRET_KEY"
          aws configure set region eu-west-2
          aws configure set output json

      - name: Deploy To S3
        env:
          AWS_ACCESS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_KEY: ${{ secrets.AWS_ACCESS_SECRET_KEY }}
        run: |
          aws s3 sync ./out s3://temp.dddeastmidlands.com --delete