on:
  workflow_call:
    secrets:
      aws_access_key_actions:
        required: true
      aws_secret_access_key_actions:
        required: true

jobs:
  publish_to_s3:
    name: Publish to S3
    runs-on: ubuntu-latest

    steps:
      - name: Download Site Build Artifacts
        uses: actions/download-artifact@v7
        with:
          name: build_artifacts
          path: out

      - name: Install AWS CLI
        run: |
          pip install --user awscli
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Configure AWS CLI
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_JB }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY_JB }}
          aws-region: eu-west-2

      - name: Deploy To S3
        run: |
          aws s3 sync ./out s3://temp.dddeastmidlands.com  --delete
          echo "Deployed to S3"