on:
  workflow_call:

jobs:
  test_build:
    name: Test and Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install packages
        run: npm install

      - name: Run Jest
        run: npm run test:coverage

      - name: Upload Clover Artifact
        uses: actions/upload-artifact@v3
        with:
          name: clover
          path: |
            coverage/clover.xml

      - name: Upload Junit Artifact
        uses: actions/upload-artifact@v3
        with:
          name: junit
          path: |
            test-results/junit

      - name: Run build
        run: npm run build

      - name: Run Export
        run: npm run export
   
      - name: Run pa11y
        run: npm run pa11y-ci
        continue-on-error: true

      - name: Send pa11y results to PR Comment
        uses: actions/github-script@v6
        env:
          BODY_PREFIX: '<!-- pa11y-ci results -->'
          OWNER: 'DDDEastMidlandsLimited'
          REPO: 'dddem-web'
        with:
          script: |
            const script = require('./.github/workflows/scripts/pa11y-ci.js')
            await script({ github, context, core })

      - name: Upload Site Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build_artifacts
          path: |
            out
