on:
  workflow_call:

jobs:
  test_build:
    name: Test and Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Cache npm dependencies
        id: cache
        uses: actions/cache@v5
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm install

      - name: Run Jest
        run: npm run test:coverage

      - name: Upload Clover Artifact
        uses: actions/upload-artifact@v5
        with:
          name: clover
          path: |
            coverage/clover.xml

      - name: Upload Junit Artifact
        uses: actions/upload-artifact@v5
        with:
          name: junit
          path: |
            test-results/junit

      - name: Run build
        run: npm run build

      - name: Upload Site Build Artifacts
        uses: actions/upload-artifact@v5
        with:
          name: build_artifacts
          path: |
            out
